.DS_Store
*.d
*.so
*.root
*.pptx
ALICE_MediumEvolution.C
Code/1_Fig2_SigmaDq0.png
Code/BcPlusMeson/
Code/DMeson/
Code/ELossCode/
Code/FacExp_Figures/
Code/FeedDownCorr/
Code/Fig1a_TauVsTemp.pdf
Code/Fig1a_TauVsTemp.png
Code/Fig1b_TauVsFQGP.pdf
Code/Fig1b_TauVsFQGP.png
Code/Fig2_SigmaDq0.eps
Code/Fig2_SigmaDq0.pdf
Code/Fig2_SigmaDq0.png
Code/Fig2_SigmaDq0_E.png
Code/Fig2_SigmaDq0_EPlusM.png
Code/Fig2_SigmaDq0_OnlyMag.png
Code/Fig3a_DRateVsT.pdf
Code/Fig3a_DRateVsT.png
Code/Fig3b_DRateVsPt.eps
Code/Fig3b_DRateVsPt.pdf
Code/Fig3b_DRateVsPt.png
Code/Fig5a_ALICE_RAAPt.eps
Code/Fig5a_ALICE_RAAPt.pdf
Code/Fig5a_ALICE_RAAPt.png
Code/Fig5a_ALICE_RAAPt_ELoss.pdf
Code/Fig5a_ALICE_RAAPt_ELoss.png
Code/Fig5b_CMS_RAAPt.eps
Code/Fig5b_CMS_RAAPt.png
Code/Fig_ATLAS_JPsiRAAPt.pdf
Code/Fig_ATLAS_JPsiRAAPt.png
Code/Fig_ATLAS_JPsiRAAPt_ELoss.pdf
Code/Fig_ATLAS_JPsiRAAPt_ELoss.png
Code/Fig_CMS_JPsiRAAPt.pdf
Code/Fig_CMS_JPsiRAAPt.png
Code/Fig_CMS_JPsiRAAPt_ELoss.pdf
Code/Fig_CMS_JPsiRAAPt_ELoss.png
Code/Fig_CMS_RAAPt.eps
Code/Fig_CMS_RAAPt.png
Code/Fig_CMS_RAAPt_E.png
Code/Fig_CMS_RAAPt_EPlusM.png
Code/Fig_CMS_RAAPt_OnlyMag.png
Code/Fig_CMS_RAA_Npart.eps
Code/Fig_CMS_RAA_Npart.png
Code/Fig_RAA_Npart.eps
Code/Fig_RAA_Npart.png
Code/Fig_RAA_Npart_HighPt.pdf
Code/Fig_RAA_Npart_HighPt.png
Code/Fig_RAA_Npart_HighPt_ATLAS.pdf
Code/Fig_RAA_Npart_HighPt_ATLAS.png
Code/Fig_RAA_Npart_HighPt_ATLAS_NoData.pdf
Code/Fig_RAA_Npart_HighPt_ATLAS_NoData.png
Code/Fig_RAA_Npart_HighPt_CMS.pdf
Code/Fig_RAA_Npart_HighPt_CMS.png
Code/Fig_RAA_Npart_HighPt_CMS_NoData.pdf
Code/Fig_RAA_Npart_HighPt_CMS_NoData.png
Code/Fig_RAA_Npart_LowPt.pdf
Code/Fig_RAA_Npart_LowPt.png
Code/Figures/
Code/Figures_JPsi_ElecPlusMag/
Code/FinalPlots/
Code/LatticeEOS/
Code/OnlyElec_Fig_CMS_JPsiRAAPt.pdf
Code/QuarkSupp.C~
Code/QuarkSupp_C_ACLiC_dict_rdict.pcm
Code/RunVariation/
Code/Shadowing/
Code/SigmaPlot/
Code/Store11May18_QuarkSupp.C
Code/jpsiProd.C
Code/jpsiProd.C~
Code/sh.png
Code/thermal.png
Code/tt
Code/tt.txt
MCTools_QuarkoniaProd/
Papers/0611109.pdf
Papers/0904.0032.pdf
Papers/1409.2496v2.pdf
Papers/1501.03940v1.pdf
Papers/2SGluonDissCrossArleo_0102095.pdf
Papers/2SGluonDissCross_0111132.pdf
Papers/AbdPaper_1210.7584.pdf
Papers/CharmoniaReview_0711.4556.pdf
Papers/DataPapers/
Papers/DnDEtaFiveTeVALICE_PhysRevLett.116.222302.pdf
Papers/ELoss/
Papers/EPS09_0902.4154.pdf
Papers/FeedDownUpsilon_0106017.pdf
Papers/HIF13.pdf
Papers/HistoryQGP_1508.03260v1.pdf
Papers/IntSatzTalk.pdf
Papers/JPGRefReport/ALICE_DNDEta_5TeV.pdf
Papers/JPGRefReport/JPhysG-102860_Proof_hi.pdf
Papers/JPGRefReport/Ref2/MakeFile
Papers/JPGRefReport/Ref2/MakeFile~
Papers/JPGRefReport/Ref2/ReportRef2.pdf
Papers/JPGRefReport/Ref2/ReportRef2.tex~
Papers/JPGRefReport/Ref3/MakeFile
Papers/JPGRefReport/Ref3/ReportRef3.pdf
Papers/JPGRefReport/SubmitJPG/Fig1a_JPsi_SigmaDq0.pdf
Papers/JPGRefReport/SubmitJPG/Fig1b_Y1S_SigmaDq0.pdf
Papers/JPGRefReport/SubmitJPG/Fig2a_DRateVsT.pdf
Papers/JPGRefReport/SubmitJPG/Fig2b_DRateVsPt.pdf
Papers/JPGRefReport/SubmitJPG/Fig3a_FormRateVsT.pdf
Papers/JPGRefReport/SubmitJPG/Fig3b_FormRateVsPt.pdf
Papers/JPGRefReport/SubmitJPG/Fig4a_CMS_RAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig4b_ATLAS_RAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig4c_ALICE_RAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig5a_CMS_RAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig5b_ATLAS_RAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig5c_ALICE_RAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig6a_Y1S_CMS_RAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig6b_Y2S_CMS_RAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig7a_ALICE_Y1SRAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig7b_ALICE_Y2SRAAPt_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig8a_CMS_Y1SRAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig8b_CMS_Y2SRAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig9a_Y1S_ALICE_RAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Fig9b_Y2S_ALICE_RAANPart_Shade.pdf
Papers/JPGRefReport/SubmitJPG/Quarkonia5TeV.aux
Papers/JPGRefReport/SubmitJPG/Quarkonia5TeV.log
Papers/JPGRefReport/SubmitJPG/Quarkonia5TeV.out
Papers/JPGRefReport/SubmitJPG/Quarkonia5TeV.pdf
Papers/JPGRefReport/SubmitJPG/Quarkonia5TeV.tex~
Papers/JPGRefReport/SubmitJPG/Subm_JPG_Quarkonia5TeV.tex
Papers/JPGRefReport/SubmitJPG/Submitted_Quarkonia5TeV.tex
Papers/JPGRefReport/SubmitJPG/iopams.sty
Papers/JPGRefReport/SubmitJPG/iopart.cls
Papers/JPGRefReport/SubmitJPG/iopart10.clo
Papers/JPGRefReport/SubmitJPG/iopart12.clo
Papers/JPGRefReport/SubmitJPG/setstack.sty
Papers/JPGRefReport/SubmitJPG/tt.txt
Papers/JPGRefReport/SubmitJPG/ulem.sty
Papers/JPsiCoalanceModel.pdf
Papers/JPsiSigma_7TeV_LHCb_1103.0423.pdf
Papers/Laine_0611300.pdf
Papers/OldSubmitJPG/
Papers/PRCRefReport/
Papers/PRCRefReport26Dec.zip
Papers/PWaveLatticeQCD_1606.06211v1.pdf
Papers/PaskinBehnot_2.pdf
Papers/Peskin_Behnot_1.pdf
Papers/PhdThesis_Katz_R_12_2015.pdf
Papers/PhysRevD.65.014005.pdf
Papers/Potential_1410.7311v1.pdf
Papers/QGPReview_1602.04120v1.pdf
Papers/Quarkonia5TeV.zip
Papers/Quarkonia5TeV/
Papers/QuarkoniaDiss_PartonGluonCrossSection_1303.6097v1.pdf
Papers/QuarkoniaGluonDiss_NLO_0501252.pdf
Papers/Review_1506.03981.pdf
Papers/SWaveLatticeQCD_1509.07366v2.pdf
Papers/Satz.pdf
Papers/SigmaCharm5TeV_1705.04558.pdf
Papers/Somnath_pTloss.pdf
Papers/Strickland_1704.02361.pdf
Papers/SubmitPRC/
Papers/SubmitPRC26Dec.zip
Papers/ThermalBottStrickLand_1112.2761.pdf
Papers/ThermalQuarkoniaSupp_Dissertation.pdf
Papers/ThermalWidthJPsi_0704.3770.pdf
Papers/TotalBeautyCorssALICE_1405.4144.pdf
Papers/TotalBeautyCrossALICE_1205.5880.pdf
Papers/TotalBeautyCrossLHCb_1009.2731.pdf
Papers/TotalBeautyCross_LHCb_1103.0423.pdf
Papers/TotalBeautyProd_ALICE_PLB_Corrected.pdf
Papers/TotalBeautyProd_ATLAS.pdf
Papers/TotalCharmCrossALICE_1205.4007.pdf
Papers/TotalCharmCrossALICE_1605.07569.pdf
Papers/TotalCharmCrossATLAS-CONF-2011-017.pdf
Papers/TotalCharmCrossATLAS_1512.02913.pdf
Papers/TotalCharmCrossLHCb-CONF-2010-013.pdf
Papers/TotalCharmCrossLHCb_13TeV.pdf
Papers/TotalCharmCrossLHCb_5TeV.pdf
Papers/TotalCharmCrossSectionLHCb_1302.2864.pdf
Papers/TotalCharmCross_Extrapolated_cakir_bachelor_thesis.pdf
Papers/TotalSigmaCalc/
Papers/TripleCharm_Coalance.pdf
Papers/UpsilonPaper/
Papers/YSupp_new_1704.05622.pdf
Papers/ZhenHu_UpsilonCMSReview_1708.02913.pdf
Papers/gluonquarkoniacross_ref38_0102095.pdf
RaaVsPtComp.pdf
RaaVsPtComp.pptx